/*---------- navbar ----------*/
#navbar {
    background-color: var(--brown);
    padding: 10px 20px;
}
#navbar .nav-btn{
    color: var(--orange);
    background-color: transparent;
    border: none;
}
#navbar .search-bar input{
    border: none;
    border-radius: 25px;
    padding: 0 15px;
    outline:0;
}
#navbar .shopping-bag{
    color: var(--orange);
}
.modal .modal-content{
    background-color: var(--brown);
}
.modal .modal-header{
    border-bottom: none;
}
.modal .modal-header .btn-close{
    color: transparent;
    background-color: var(--orange);
    border-radius: 50%;
    margin: 20px 0 200px 20px;
}
.modal .modal-body ul{
    list-style: none;
}
.modal .modal-body ul li a{
    text-decoration: none;
    color: var(--white);
}
/*---------- end navbar ----------*/


/*------------ main menu -----------*/
.food-type {
    height: 300px;
    width: 100%;
    background: var(--brown);
    overflow: hidden;
    background: var(--brown);  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(rgba(52, 38, 40, 0.6), rgba(52, 38, 40, 0.6)), url("images/breakfast.jpg");
    background: linear-gradient(rgba(52, 38, 40, 0.6), rgba(52, 38, 40, 0.6)), url("images/breakfast.jpg"); /* The least supported option. */
}
.food-type .food-type-title{
    text-decoration: none;
    color: var(--white);
}


